html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}
/*..................................Main code index.........................*/

body {
  background-color: white;
}
#tobpar {
  height: 10px;
  width: 100%;
  background-color: black;
}
section {
  height: 550px;
  width: 100%;
  background-color: grey;
  /* margin-top: 2px; */
}
.footer1 {
  width: 100%;
  height: 300px;
  background-color: grey;
  margin-top: 30px;
}
h1 {
  padding: 20px;
}

#nav {
  background-color: #cf0e85;
  height: 150px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}
#nav .container ul {
  float: right;
  /* word-spacing: 20px; */
}
#nav .container ul li {
  display: inline;

  margin-left: 10px;
}
#nav ul li a {
  text-decoration: none;
  color: white;
}
.logo {
  float: left;
  padding-left: 20px;
  color: white;
}
.logo img {
  height: 100px;
  padding-left: 80px;
  width: 150px;
}
h3 {
  color: white;
  text-align: center;
  line-height: 25px;
  word-spacing: 0px;
}
section {
  height: 550px;
  /* background-image: url("background.jpg"); */
}
.bgimg {
  height: 300px;
  width: 450px;
  background-color: rgb(124, 13, 106);
  margin: 50px auto;
  border: 1px solid;
  opacity: 0.7;
}
.bgimg h1 {
  text-align: center;
  margin-top: 20px;
  line-height: 20px;
  color: white;
}
.bgimg .welcome {
  margin-top: 80px;
}
.sec {
  background-color: white;
  height: 315px;
  width: 100%;
}
.bottom1 {
  width: 58%;
  height: 300px;
  background-color: red;
  margin-top: 15px;
  float: left;
}
.bottom2 {
  width: 40%;
  height: 300px;
  background-color: orange;
  margin-top: 15px;
  float: right;
}
.bottom1 h1 {
  color: white;
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}
.para1 {
  color: black;
  font-size: 20px;
  text-align: left;
  padding: 20px;
  padding-top: 40px;
  line-height: 30px;
}
.bottom2 h1 {
  color: white;
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}
.para2 {
  color: black;
  font-size: 20px;
  text-align: left;
  padding: 20px;
  padding-top: 40px;
  line-height: 30px;
}

.container1 {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  line-height: 15px;
}
ul {
  list-style: none;
}
.footer-col {
  width: 15%;
  padding: 0 15px;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  padding: 30px;
}
.footer-col ul li a {
  text-decoration: none;

  line-height: 40px;
  font-size: 15px;
}
.footer-col h4 {
  margin-bottom: 30px;
  font-size: 20px;
}
/*............................--------student login--------.......................*/
body {
  margin: 0px;
}
header {
  height: 750px;
  /* background-image: url(stubg.jpg); */
  margin-top: -70px;
}
.bglogin {
  height: 595px;
  width: 450px;
  background-color: rgb(124, 13, 106);
  margin: 70px auto;
  border: 1px solid;
  opacity: 0.7;
  color: white;
  padding: 20px 20px 20px;
  font-size: 20px;
}
.bglogin h4 {
  color: black;
  font-size: 25px;
  text-align: center;
  line-height: 40px;
}
.regform1 .textlabel {
  display: block;
}
.input input {
  border-radius: 10px;
  width: 100%;
  font-size: 1em;
  padding: 5px 5px;
  box-sizing: border-box;
  margin: 5px 0px 5px;
}
input:focus {
  background-color: aqua;
}
.radio {
  letter-spacing: 5px;
}
/* .btn1
{
    text-align: center;
}
button{
    background-color: #cf0e85;
    font-size: 30px;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #cf0e0e;
} */
.radio input {
  accent-color: #0e72cf;
  transform: scale(1);
}
/* ..........................student registration.......................... */

/* nav{
    float:right;
    word-spacing: 30px;
    padding: 20px;

}
nav li{
    display: inline;
    line-height: 80px;
} */
header {
  height: 600px;
  /* background-image: url("/images/stubg.jpg"); */
  margin-top: -70px;
}
.bg {
  height: 730px;
  width: 450px;
  background-color: rgb(124, 13, 106);
  margin: 70px auto;
  border: 1px solid;
  opacity: 0.7;
  color: white;
  padding: 20px 20px 20px;
  font-size: 20px;
}
.bg h4 {
  color: black;
  font-size: 25px;
  text-align: center;
  line-height: 20px;
}
.regform .textlabel {
  display: block;
}
.input input {
  border-radius: 10px;
  width: 100%;
  font-size: 1em;
  padding: 5px 5px;
  box-sizing: border-box;
  margin: 5px 0px 5px;
}
/* input:focus {
  background-color: aqua;
} */
.radio {
  letter-spacing: 5px;
  margin-left: 20px;
  word-spacing: 10px;
}
/* .btn
{
    text-align: center;
    background-color: #cf0e85;
    font-size: 30px;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #cf0e0e;
    box-decoration-break:inherit;
} */
/* button{
    background-color: #cf0e85;
    font-size: 30px;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #cf0e0e;
} */
.radio input {
  accent-color: #0e72cf;
  transform: scale(1);
}
@media only screen and (max-width: 800px) {
  /* For tablets: */
  .nav,
  .sec,
  .footer,
  .footer-col {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  .nav,
  .sec,
  .footer,
  .footer-col {
    width: 50%;
  }
}
